
&i2c1 {
	status = "okay";

	accelerometer: lsm6dso@6a {
		compatible = "st,lsm6dso";
		reg = <0x6a>;                   // 0x6a if SDO=0, use 0x6b if SDO=1
		label = "LSM6DSOX";
		irq-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		int-pin = <1>;          // 1 = INT1, 2 = INT2
	};
};
